html,
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

canvas.app {
  display: block;
}

#xr-button {
  margin: 10px;
  position: absolute;
  font-weight: 900;
  letter-spacing: 2px;
  border: 0px;
  border-radius: 16px;
  font-size: 1.4em;
  padding: 12px 18px;
  color: #ffffff;
  background-color: #1abafe;
  box-shadow: 0 5px 0 #169fe8;
}

/* Clicked (Active) Button Style */
#xr-button:active {
  box-shadow: none;
  transform: translateY(5px);
}

/* Disabled Button Style*/
#xr-button:disabled {
  color: #ffffff;
  background-color: #afafaf;
  box-shadow: 0 5px 0 #777777;
}

/* Disabled and Clicked (Active) Button Style */
#xr-button:active:disabled {
  color: #ffffff;
  background-color: #afafaf;
  box-shadow: none;
  transform: translateY(5px);
}
